head
  title My Homework
  meta(charset='utf-8')
  //- link(rel='stylesheet', href='lib/parsley/src/parsley.css')
  //- script(src='lib/parsley/dist/parsley.js') 

body
  +loginButtons(align='right')
